<u><b><%= l(:authenticationServiceURL)%></b></u><br/>
<%= text_field_tag("settings[authenticationServiceURL]", @settings['authenticationServiceURL'], :size => 50) %><br/>
<u><b><%= l(:authenticationServiceName)%></b></u><br/>
<%= text_field_tag("settings[authenticationServiceName]", @settings['authenticationServiceName'], :size => 50) %>
