<u><b><%= l(:authenticationServiceURL)%></b></u><br/>
<%= text_field_tag("settings[authenticationServiceURL]", @settings['authenticationServiceURL'], :size => 25) %><br/>
<%= text_field_tag("settings[authenticationServiceName]", @settings['authenticationServiceName'], :size => 25) %>
