<u><b><%= l(:selfServicePasswordURL)%></b></u><br/>
<%= text_field_tag("settings[selfServicePasswordURL]", @settings['selfServicePasswordURL'], :size => 50) %><br/>
<u><b><%= l(:selfServicePasswordName)%></b></u><br/>
<%= text_field_tag("settings[selfServicePasswordName]", @settings['selfServicePasswordName'], :size => 50) %>
