.agreementLicenseTitle{
	font-size:2em;
	text-align:center;
	margin: 0px auto;
}
.agreementLicense{
	width:80%;
	text-align:left;
        margin:0px auto;
        margin-top:20px;
 
}
.agreementLicenseText{

}

.agreementCheckbox{
width:80%;
	text-align:center;
	margin: 0px auto;
}
