.agreementLicenseTitle{
	font-size:2em;
	text-align:center;
	margin: 0px auto;
}
.agreementLicense{
	width:80%;
	text-align:left;
        margin:0px auto;
        margin-top:20px;
 
}
.agreementLicenseText{
	font-family: "Courier New";
}

.agreementLicenseText p {
padding-left: 0px;
}

.agreementCheckbox{
width:80%;
	text-align:center;
	margin: 0px auto;
}

.agreementLicenseText h1 {
font-size: 12px;
margin-top: 1em;
}
