<p><%= l(:notice_account_activated_ssp, :authenticationServiceURL => Setting.plugin_redmine_self_service_password['authenticationServiceURL'],:authenticationServiceName => Setting.plugin_redmine_self_service_password['authenticationServiceName']) %></p>
<p><%= l(:label_login) %>: <%= link_to h(@login_url), @login_url %></p>
