<p><%= l(:notice_account_activated_ssp, :selfServicePasswordURL => Setting.plugin_redmine_self_service_password['selfServicePasswordURL'],:selfServicePasswordName => Setting.plugin_redmine_self_service_password['selfServicePasswordName'],:name=> (@user.firstname + " " + @user.lastname)) %></p>
<p><%= l(:label_login) %>: <%= link_to h(@login_url), @login_url %></p>
